<h2>Hi! I'm Liviu.</h2>
<p>I am a software engineer from Romania currently working in the United Kingdom.</p>
<p>
  The country I grew up in is a very sunny place, around 2000 hours of sunshine per year. Why am I mentioning this?<br/>
  Because I went to university in Glasgow where our star shows up a little over half of that amount.<br/>
  Romania is filled with friendly people, tasty food, lots of lovely sights and did I mention lots of sun? Here's it is, I recommend a visit if you've not seen it yet.
</p>
<iframe style="width:100%;" src="//www.google.com/maps/embed/v1/place?q=Bucuresti
      &zoom=4
      &key=AIzaSyC6S2XK3RUzd0-BM5YMu81ygdl8_7bySH0">
</iframe>
<br/>
<p> I have studied Computing Science at the University of Glasgow and obtained a First Class BSc degree.</p>
<!--<img style="height:10%;width:auto" src="https://static1.squarespace.com/static/5196a5e6e4b0582960778bd5/t/55f094f9e4b055cc1a1206f7/1441830140054/" />-->
