<img src="assets/favicon/favicon.png" style="height:100%;width:auto;float:left">
<h1 style="text-align: center;float:left">
  Milorad Liviu Felix
</h1>

<a href="http://github.com/iFlex" class="linkNicon">
  <img src="assets/icons/git.png" style="width:32px;height:32px;margin-top:5px;margin-left:2px;float:right">
</a>
<a href="https://uk.linkedin.com/in/milorad-liviu-felix-0b273888">
  <img src="assets/icons/lnkdin.png" style="width:32px;height:32px;margin-top:5px;margin-left:2px;float:right">
</a>
<a href="./res/MiloradLiviuFelixCv.pdf" class="linkNicon">
  <img src="assets/icons/briefcase.png" style="width:32px;height:32px;margin-top:5px;margin-left:2px;float:right">
</a>
<!--<md-button class="md-fab md-primary" aria-label="Use Android">
  <md-icon md-svg-src="img/icons/android.svg"></md-icon>
</md-button>-->
