<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Home</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">About</a>
  <a [routerLink]="['/education']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:false}">Education</a>
  <a [routerLink]="['/projects']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Projects</a>
  <a [routerLink]="['/frameworks']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Frameworks</a>
  <a [routerLink]="['/travels']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Travels</a>
</nav>
