.visDiv {
	position:fixed;
	top:0px;
	left:5px;
	width: 25%;
	height: 45%;
	color: white; 
	background: transparent;
	margin-top:70px;
	z-index:100;
}
	
.visIcon {
	width: auto;
	height: 100%;
	display : inline;
	vertical-align : middle;
}

.visText {
	FONT-FAMILY: arial, helvetica, lucida-sans, sans-serif; 
	FONT-SIZE: 24pt; 
	FONT-STYLE: normal; 
	FONT-VARIANT: normal;
	margin-left: 15px;
	display : inline;
	vertical-align : middle;
}

.visInnerDiv {
	border-radius: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left:5px;
	background-color: rgba(0,0,0,0.75);
	height: 64px;
	overflow:hidden;
}
