<h1>Here is a chronological list of projects I have worked on.</h1>

    <div class="card" *ngFor="let project of projects">
      <div class="card-logo-container">
        <img class="card-logo" align="middle" src="{{project.icon}}"/>
      </div>
      <div class="card-talko">
        <h3>{{project.name}}</h3>
        <p>{{project.description}}</p>
      </div>
      <div class="card-tail">
        <i style="float:right;font-size:11px">{{project.year}}</i>
        <br/>
        <i style="font-size:11px" *ngFor="let technology of project.tech">{{technology}}<br/></i>
      </div>
      <hr/>
    </div>
