<p>I love to travel and expose myself to different cultures and people. I believe each nation/culture strives to leave its unique mark on the place they inhabit, this can be seen in the local customs, architecture, food, music and sometimes even landscapes. Seeing and experiencing this in person is a very joyful and immersive experience for me. Natural landscapes are a whole other delight of traveling and I seek them out because let's face it: our planet is really beautiful! I am particularly fond of places with water: beaches, lakes and waterfalls.<br/> In true Star Trek fashion, <i>I strive to boldly go where I've not been before</i></p>
<br/>
<p>On this map I mark down the places visited so far. The hope is to one day turn it into a forest of map pins (but at that point I'd have to change the visulalisation to something more readable, until the here goes:)</p> 
<div style="width:100%;height:500px" #travelMap></div>
<!--
<iframe style="width:100%;height:500px" #travelMap src="https://www.google.com/maps/embed/v1/place?q=Bucuresti
      &zoom=4
      &key=AIzaSyC6S2XK3RUzd0-BM5YMu81ygdl8_7bySH0">
</iframe>-->
